body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d9ccc0;
}

#root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}

.NavBar {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #583625;
  border-radius: 15px;
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #583625;
    border-radius: 15px;
  }
}
